
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
  }


body {
  width: 480px;
  height: 3593px;
  top: -2627px;
  left: 654px;
  background: #FFFFFF;
}

.numero {
    font-family: 'Be Vietnam', sans-serif;
    width: 69px;
    height: 43px;
    padding: 10px 25px;
    border-radius: 30px;
    gap: 10px;
    background: #8B48BF;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 16px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    width: 19px;
    height: 23px;

}
.puntosDiferenciaPros .contenido h3 {
  background: rgba(139, 72, 191, 0.3);
  font-family: 'Be Vietnam', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 43px;
  letter-spacing: -0.01em;
  text-align: left;
}


.puntosDiferenciaPros .contenido p {
  font-family: 'Be Vietnam', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -0.01em;
  text-align: left;
  background: rgba(179, 178, 183, 0);
  color: rgba(179, 178, 183, 1);
  width: 428px; 
  height: 150px; 
  padding: 10px; 
  margin-bottom: 10px; 
}
