@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');




h1 {
    width: 400px;
    font-weight: 700;
    font-size: 50px;
    line-height: 57.3px;
    text-align: right;
    color: #232C50;
}

body {
    background: #FFFFFF;
}

.numero {
    font-family: 'Be Vietnam', sans-serif;
    width: 69px;
    height: 43px;
    padding: 10px 25px;
    border-radius: 30px;
    gap: 10px;
    background: #8B48BF;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 16px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    width: 19px;
    height: 23px;

}

.puntosDiferenciaPros .contenido p {
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: -0.01em;
    text-align: left;
    background: rgba(179, 178, 183, 0); 
    color: rgba(179, 178, 183, 1); 
    padding: 10px;
    margin-bottom: 10px;
}

.puntosDiferenciaPros .contenido h3 {
    width: 228px; 
    height: 23px; 
    font-size: 16px;
    font-weight: 700; 
    line-height: 23px;
    letter-spacing: -0.015em;
    text-align: left;
    background: rgba(139, 72, 191, 0.3); 
    color: rgba(50, 56, 81, 1); 
    padding: 10px; 
    border-radius: 50px 0px 0px 50px; 
    gap: 8px; 
}


.puntosDiferenciaPros .diferencias {
    display: flex;
}


.puntosDiferenciaPros .diferencias .numero {
    display: inline-block; 
    margin-right: 10px; 
}

  .bestOfTheMonth h2 {
    width: 334.41px;
    height: 61px;
    top: 2155px;
    left: 74px;
    font-size: 39px;
    font-weight: 700;
    line-height: 61px;
    letter-spacing: -0.01em;
    text-align: left;
    background: transparent; 
    color: rgba(36, 46, 83, 1); 
    padding: 10px; 
  }
  
